<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SamSam</display-name>
  
  
  
  
  <servlet>
  	<servlet-name>MemberFrontController</servlet-name>
  	<servlet-class>su.member.frontcontroller.MemberDispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MemberFrontController</servlet-name>
  	<url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductFrontController</servlet-name>
  	<servlet-class>kdb.product.frontcontroller.ProductDispatchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ProductFrontController</servlet-name>
  	<url-pattern>*.pr</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InfoFrontController</servlet-name>
  	<servlet-class>wook.info.frontcontroller.InfoDispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>InfoFrontController</servlet-name>
  	<url-pattern>*.in</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CsFrontController</servlet-name>
  	<servlet-class>hong.cs.frontcontroller.CSDispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CsFrontController</servlet-name>
  	<url-pattern>*.cs</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ImgFrontController</servlet-name>
  	<servlet-class>ji.img.frontcontroller.ImgDispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ImgFrontController</servlet-name>
  	<url-pattern>*.im</url-pattern>
  </servlet-mapping>


  
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>samsam.commons.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>